@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{

    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  
}

h1,h2,h3,h4 {
    margin: 0;
}



html, body ,main{
    background-color: #717171;
}

header {
    background-color: #4D41C0;
    color: #FFF;
    width: auto;
    height: 60px;
    top: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h1 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 12px;
    font-weight: 400;
  
}

header a, a:hover {
    color: unset;
    text-decoration: none;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img{
    margin-right: 10px;

}


.dsmovie-card {

    width: 100%;
    
}

#dsmovie-card-list{
    padding: 40px;

}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    
}

.dsmovie-card-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
    border-radius: 0 0 8px 8px;
    background-color: #FFF;
}

.dsmovie-card-description h3 {

    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
}

.dsmovie-btn, .dsmovie-btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    width: 180px;
    height: 40px;
    top: 289px;
    left: 40px;
    border-radius: 4px;
    background-color: #4D41C0;
    color: #FFF;
    text-decoration: none;
    
}

