@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {

    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

h1,
h2,
h3,
h4 {
    margin: 0;
}



html,
body,
main {
    background-color: #e4e1e1;
}

header {
    background-color: #4D41C0;
    color: #FFF;
    height: 60px;
    top: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h1 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 12px;
    font-weight: 400;

}

header a,
a:hover {
    color: unset;
    text-decoration: none;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img {
    margin-right: 10px;

}


.dsmovie-card {

    width: 100%;

}

#dsmovie-card-list {
    padding: 40px;

}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;

}

.dsmovie-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
    border-radius: 0 0 8px 8px;
    background-color: #FFF;
    height: 190px;
}

.dsmovie-card-description h3 {

    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}


.dsmovie-card-description-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}





.dsmovie-card-description-bottom h4 {

    font-size: 16px;
    font-weight: 700;
    color: #FFBB3A;
    
    
}

.dsmovie-card-description-bottom p{

    font-size: 12px;
    font-weight: 400;
    color: #989898;
    margin-bottom: 10px;


}





.dsmovie-card-description-bottom img{

    width: 22px;

}














.dsmovie-btn,
.dsmovie-btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    width: 180px;
    height: 40px;
    top: 289px;
    left: 40px;
    border-radius: 4px;
    background-color: #4D41C0;
    color: #FFF;
    text-decoration: none;
    border: 0;
}




.dsmovie-form-container {

    padding: 40px 0;
    max-width: 480px;



}

.dsmovie-form-description {

    padding: 20px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;

}





.dsmovie-form {
   width: 100%;

}


.dsmovie-form-description h3{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;


}


.dsmovie-form-group{

    margin-bottom: 20px;
}


.dsmovie-form-group label{

    font-size: 12px;
    color: #d3d3d3;
}

.dsmovie-form-btn-container{
    
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}


